:root{
  --bg-color:rgba(0, 0, 0);
}
body{
  background-color: var(--bg-color);
  margin: 0%;
  overflow:visible;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 30px;
  font-weight: 200;
}
.card{
  background-color: rgba(255,255,255,0.02);
  height: 230px;
  width: 300px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255,0,0,0.2);
  position: relative;
}
.card::before{
  background:radial-gradient(800px circle at var(--mouse-x)  var(--mouse-y),
  rgba(255, 0, 0, 0.224),transparent 40%);
  border-radius: inherit;
  content: "";
  height: 100%;
  left:0px;
  position: absolute;
  top:0px;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms;
}
.card:hover::before{
  opacity:1;
}
#cards{
  display: flex;
  flex-wrap: wrap;
  max-width: 630px;
  cursor: pointer;
  width: calc(100%-20px);
  gap:20px;
  justify-content: center;
}
p{
  color:white;
  font-size: 30px;
  font-weight: 100;
}
.hidden{
  opacity:0;
  filter: blur(10);
  transform: translateX(-100%);
  transition: all 800ms;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}
.ov{
  overflow: hidden;
}
#name{
font-weight: 400;
position: fixed;
font-size: 60px;
color:rgba(255, 255, 255, 0.924);

top:30%;
left:5%;
}
#details{
  position: fixed;
  display: inline-block;
  top:70%;
left:5%;
}
#a{

  font-size: 80px;
  color:rgb(255, 255, 255);
}
#but{
  padding: 15px;
  background-color: transparent;
  border-radius: 10%;
  color:white;
  font-weight: 100;
  font-size: large;
  cursor: pointer;
  border: 0.7px solid white;
}
#but:hover{
  background: radial-gradient(400px circle at 60px  50px,
  rgba(255, 255, 255, 0.124),transparent 40%);
}
#link {
  padding: 0%;
  text-decoration: none;
position: fixed;
bottom:8%;
left:5%;
}